.login-title {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}

.login-field {
    width: 300px;
}

.login-signin-button {
    position: relative;
    left: 6.5rem;
}