.delete-account-form {
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    position: relative;
    left: 30vw;
}

.delete-account-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete-account-delete-button {
    position: relative;
    left: 12rem;
}

.delete-account-field {
    width: 500px;
}